<p id="notice"><%= notice %></p>
<div class="container d_blue">
  <section class="section d_blue">
    <div class="container">
      <div class="heading">
        <h1 class="title is-2 has-text-centered">Profiles</h1>
      </div>
    </div>
  </section>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <% @profiles.each do |profile| %>
      <div class="box l_blue">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <%= image_tag profile.avatar.url %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
                <h3><%= profile.name %></h3>
                <h4>Confident</h4>
                <% profile.user.skills.each do |skill| %>
                  <% if skill.confident %>
                    <span class="tag"><%= skill.name %></span>
                  <% end %>
                <% end %><br />
                <p><h4>Needs Improvement</h4></p>
                <% profile.user.skills.each do |skill| %>
                  <% if skill.need_improvement %>
                    <span class="tag"><%= skill.name %></span>
                  <% end %>
                <% end %>
            </div>
          </div>
          <div class="media-right">
            <p><button class="button">
              Offer help
            </button></p>
            <p>&nbsp;</p>
            <p><button class="button">
              Request help
            </button></p>
          </div>
        </article>
      </div>
      <% end %>
      <p></p>
    </div>
  </div>
</div>
