<p id="notice"><%= notice %></p>

<h1>Profiles</h1>
<div class="container">


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Bio</th>
      <th>User</th>
      <th>Skills</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.username %></td>
        <td><%= profile.bio %></td>
        <td><%= profile.user.email %></td>
        <td><% profile.user.skills.each do |skill| %>
          <p><%= skill.name %></p>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Profile', new_profile_path %>
