<p id="notice"><%= notice %></p>

<h1>Profiles</h1>
<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <% @profiles.each do |profile| %>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
                <h3><%= profile.name %></h3>
                <h4>Confident</h4>
                <% profile.user.skills.each do |skill| %>
                  <% if skill.confident %>
                    <p><%= skill.name %></p>
                  <% end %>
                <% end %>
                <h4>Needs Improvement</h4>
                <% profile.user.skills.each do |skill| %>
                  <% if skill.need_improvement %>
                    <p><%= skill.name %></p>
                  <% end %>
                <% end %>
                <% profile.badges.each do |badge| %>
                  <p><%= image_tag(badge.image) %></p>
                <% end %>
            </div>
          </div>
          <div class="media-right">
            <p><button class="button">
              Offer help
            </button></p>
            <p><button class="button">
              Request help
            </button></p>
          </div>
        </article>
      </div>
      <% end %>
    </div>
  </div>
</div>
