<div class="hero-body d_blue">
  <div class="container has-text-centered">
    <h1 class="title is-2">Sign Up</h1>
    <!-- <h2 class="subtitle">Sign in</h2> -->

    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column login-box">
        <!-- This form references app/helpers/content_helper.rb -->

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field control">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, class:"input", autofocus: true %>
          </div>

          <div class="field control">
            <%= f.label :password, class: "label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class:"input", autocomplete: "off" %>
          </div>

          <div class="field control">
            <%= f.label :password_confirmation, class:"label" %>
            <%= f.password_field :password_confirmation, class:"input", autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class:"button" %>
          </div>
        <% end %>

         <!-- render "devise/shared/links" %> -->

      </div>
      <div class="column is-one-quarter"></div>

      </div>
  </div>
</div>
