<section class="d_blue hero is-info is-large">
<div class="hero-head">
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <h1 class="title is-2 logo_txt_nav" id="logo"><%= link_to "TÜTR", root_path, class:"m_pink_text" %></h1>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <span class="nav-item">
      <% if user_signed_in? %>
      <div class="nav-item">
        <a>
          <span>
            <%= link_to "Badges", badges_path, class: "button" %>
          </span>
        </a> &nbsp;
        <a>
          <span>
            <%= link_to "Skills", skills_path, class: "button" %>
          </span>
        </a> &nbsp;
        <a class="button" >
          <span class="icon">
              <%= image_tag(current_user.profile.avatar.url) %> 
          </span>
        <a>
          <span>
            <%= link_to current_user.profile.name, profile_path(current_user.profile.id), class: "button m_pink" %>
          </span>
        </a> &nbsp;
        <a>
          <span>
            <%= link_to "Log out", destroy_user_session_path, class: "button", method: :delete%>
          </span>
        </a>
      </div>

      </a>
      <% else %>
        <%= link_to "About", root_path, class:"button" %>
    </span>
    <% end %>
  </div>
</nav>
</div>
</span>
