<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card m_blue">
    <div class="card-content-create-skills m_blue">
      <h1 class="title is-2">ADD SKILLS</h1>
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column login-box">
          <div class="field">
            <p><%= f.label :name, class: "label" %>
            <%= f.text_field :name, class: "input", placeholder: "Enter skill name here!" %></p>
          </div>
        </div>
        <div class="column is-one-quarter"></div>
      </div>
      <div class="field">
        <%= f.label :confident, class: "label" %>
        <%= f.check_box :confident, class: "checkbox" %>
      </div>

      <div class="field">
        <%= f.label :need_improvement, class: "label" %>
        <%= f.check_box :need_improvement, class: "checkbox" %>
      </div>

      <div class="actions">
        <%= f.submit "Enter Skills", class: "button" %>
    </div>
  </div>
</div>


    <div class="card m_blue">
      <div class="card-content table m_blue">
    <table class="table is-striped">
      <thead class="l_blue">
        <tr>
          <th class="skills_head">Skill</th>
          <th>Confident</th>
          <th>Need Improvement</th>
          <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>

      <% current_user.skills.each do |skill| %>
        <tr>
          <td><%= skill.name %></td>
          <td><%= convert_boolean(skill.confident) %></td>
          <td><%= convert_boolean(skill.need_improvement) %></td>
          <td><%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
</div>
</div>
<% end %>
