<div class="container">
<<<<<<< HEAD
<div class="card">
  <div class="card-content">
   <p id="notice"><%= notice %></p>

    <h1>Add A Skill</h1>
   <%= render 'indexform' %>
   
  </div>
</div>

<br>
<br>

<div class="card">
 <div class="card-content">
=======
  <p id="notice"><%= notice %></p>
  <%= render 'indexform' %>
</div>

<div class="card">
  <div class="card-content">
>>>>>>> 32ad8bae4500162056ef4f8062223e26e19b2c89
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Confident</th>
        <th>Need improvement</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.name %></td>
          <td><%= convert_boolean(skill.confident) %></td>
          <td><%= convert_boolean(skill.need_improvement) %></td>
          <td><%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<<<<<<< HEAD
 </div>
=======
</div>
>>>>>>> 32ad8bae4500162056ef4f8062223e26e19b2c89
</div>

  <br>

</div>
